@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    background-color: #000000;
    color: white;
    font-family: 'Mooli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60vw;
    
}

p {
    flex-wrap: wrap;
}

strong {
    color: #C70039;
    text-decoration: underline;
}

section {
    margin-bottom: 220px;
}

.coracao {
    background-color: #C70039;
    height: 100px;
    width: 100px;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -20px 20px 180px #C70039;
    animation: pulsar 1s infinite;
}

.coracao:before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #C70039;
    top: -50%;
    border-radius: 50px;
}

.coracao:after {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #C70039;
    right: -50%;
    border-radius: 50px;
}

@keyframes pulsar {
    0% {
        transform: scale(0.8) rotate(-45deg);
    }

    50% {
        transform: scale(1) rotate(-45deg);
    }

    100% {
        transform: scale(0.8) rotate(-45deg);
    }
}